<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section>
      <h1>Thermostat Temperature: <span id="temperature"></span></h1>
      <h1><span id="city">London</span> Temperature: <span id="city-temperature"></span></h1>
      <p>
        <button id="temperature-up">+</button>
        <button id="temperature-down">-</button>
        <button id="temperature-reset">reset</button>
        power saving mode is <span id="power-saving-status">on</span>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
      </p>
      <section>
        <form id="select-city">
          <input id="current-city" type="text" placeholder="Enter a city">
          <input type="submit">
        </form>
      </section>
      <br><button id="status">Status</button>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/script/interface.js"></script>
    <script src="/script/Thermostat.js"></script>
  </body>
</html>
